
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", serif;
  color: #333;
  background-color: #ffffff;
  line-height: 1.6;
}

header {
  background-color: #e6ebf6;
  padding: 0.8rem 4rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Nunito", serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #252525;
}

.nav-container nav {
  display: flex;
  gap: 1rem;
}

.btn {
  font-family: "Nunito", serif;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}

.btn-signup {
  color: #757171;
  padding: 0.5rem 1rem;
  background-color: #e6ebf6;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.login {
  background: linear-gradient(135deg, #558ee3, #0227c4);
  color: #ffffff;
}

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #e6ebf6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 0rem 6rem;
}

.hero-content {
  flex: 1;
  text-align: left;
  padding: 0 1rem 0 0;
}

.hero-content h2 {
  font-size: 1.8rem;
  color: #252525;
  font-weight: 600;
}

.hero-content h1 {
  font-size: 3.8rem;
  color: #252525;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #828181;
}

.hero-buttons {
  display: flex;
  gap: 1rem;
}

.hire,
.explore {
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: bold;
}

.hire {
  background: linear-gradient(135deg, #0b5fda, #001ec1);
  color: #ffffff;
}

.explore {
  background: #ffffff;
  color: #6d4a8d;
  border: 2px solid #6d4a8d;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
